body{
background-image:"https://cdn.wallpapersafari.com/31/22/ZQzWpq.jpg";
}

#container{
    width:740px;
    height:740px;
    background:#FFE4C4;
    margin: 0 auto;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    background:#FFE4C4;
   
}

h1{
    font-size:100px;
    text-align:center;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-bottom: 70px;
    padding-top: 50px;

}
/* #count{
    display:none;
} */

